/* ==========================================================================
   HEADER
   ========================================================================== */

   .c-page-header {
    position: relative;
  background: #fff;
  box-shadow: 0 3px 4px rgba(0,0,0,0.07);
  height: 80px;  
  padding-left: 25px;
  padding-right: 25px;
  // enable styles below for usage with headroom.js
  // position: fixed;
  // top: 0;
  // width: 100%;
  // z-index: z(overlay);
  @media(width >= $bp-large) {
  height: 80px;  
  
  } 
}

#search-button{
border: 2px solid var(--Blue-2, #001871);
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  line-height: 1;

  padding: 14px 50px;

svg {
  position: relative;
  top: 0;
  width: 14px; 
  height: 14px; 
  color: $color-primary;
}
span {
  font-weight: 600;
  font-size: 16px;
}

&:hover {
  &::after {
    opacity: 1;
  }
}
}

.c-contact-link {
  background: var(--Blue-5-Yellow-1-Orange, linear-gradient(90deg, var(--Blue-5, #8DC8E8) 12.62%, var(--Yellow-1, #FDCF12) 62.28%, var(--Orange, #FF9425) 92.81%));
justify-content: center;
align-items: center;
display: inline-flex;
font-weight: 600;
  font-size: 16px;
    padding: 14px 50px;
    line-height: 1;
    margin-left: 28px;
}
 

#search-popup {
  opacity: 0;
  position: absolute;
  top: -100%; /* Start off-screen */
  right: 0;
  background: var(  --gradient-style); 
  border: 1px solid #D5D7DA;
  border-bottom: 0;
  border-radius: 0;
  transition: all 0.5s ease;
  max-width: 100%;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 100;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 1px 9px 2px rgba(10, 13, 18, 0.08);
  padding: 10px;
  justify-content: center;

  .c-search-form {
    display: flex;
    justify-content: center;
    > div {
      height: 50px;
      max-width: calc(100% - #{$logo-size}) !important;
      align-items: center !important;
      padding: 7px 50px 7px 10px;
          input {
        max-width: 100%;
        background: #FAFAFA;
            border-radius: 0;
        border: 0;
        input {
          &:focus, &:active, &:focus-within {

            outline: 2px solid $link-color;
            outline-offset: 2px;

          
          // Add high contrast mode support
          @media (forced-colors: active) {
            &:focus {
              outline: 2px solid SelectedItem;
            }
          }
        }
        
        &::placeholder {
          color: $color-primary;
        }
      }
    }
  }
}

  .c-search-close-button {
    position: absolute;
    width: 33px;
    height: 33px;
    color: #fff;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 33px;
  }

  .search-submit {
    transition: $transition-ease;
    border-radius: 0;
    display: inline-flex;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: var(--color-blue-1);

    /* Shadows/shadow-xs-skeuomorphic */
   box-shadow: 0px 0px 0px 1px var(--Colors-Effects-Shadows-shadow-skeumorphic-inner-border, rgba(10, 13, 18, 0.18)) inset, 0px -2px 0px 0px var(--Colors-Effects-Shadows-shadow-skeumorphic-inner, rgba(10, 13, 18, 0.05)) inset, 0px 1px 2px 0px var(--Colors-Effects-Shadows-shadow-xs, rgba(10, 13, 18, 0.05));    
    &:hover {
      background-color: #fff;
      color: $color-primary;
    }
   
  }

  a:focus,
  button:focus,
  input:focus,
  textarea:focus,
  select:focus {
 
    outline-offset: 0px;
  }
}


#search-popup[aria-hidden="false"] {
  display: flex; /* Show when aria-hidden is false */
  top: 0; /* Drop down */
  opacity: 1;
}
