/* ==========================================================================
   OVERRIDES - hacks and styles of last resort live here
   ========================================================================== */

// ideally this file is forever blank. likely it won't be. :(
.reveal-container {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.reveal-base {
  width: 100%;
  height: 100%;
  position: absolute;
}

.image-reveal {
  mask: radial-gradient(circle at center, #000 0%, #000 0%, transparent 100%);
  animation: revealFromCenter 1s ease-out forwards;
}

@keyframes revealFromCenter {
  from {
    mask: radial-gradient(circle at center, #000 0%, transparent 30%);
  }
  to {
    mask: radial-gradient(circle at center, #000 100%, transparent 100%);
  }
}

