/* ==========================================================================
   OVERRIDES - hacks and styles of last resort live here
   ========================================================================== */

// ideally this file is forever blank. likely it won't be. :(

// ++ REVEAL CONTAINER +++++++++++++++++++++++++++++++++
.reveal-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .reveal-base {
    position: relative;
  }
  
  .reveal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 0s;
    opacity: 1;
    
    &.active {
      animation: revealPulse 1.2s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
    }
  }
}

@keyframes revealPulse {
  0% {
    clip-path: circle(0% at 50% 50%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    clip-path: circle(50% at 50% 50%);
    opacity: 1;
  }
  70% {
    clip-path: circle(30% at 50% 50%);
    opacity: 1;
  }
  100% {
    clip-path: circle(100% at 50% 50%);
    opacity: 1;
  } 
}

.gb-tabs .gb-tabs__menu-item.gb-block-is-current{
background-repeat: repeat !important;
}

.c-tab-trigger.is-active {
  background-color: #071D49;
  color: #fff;
}

.card-carousel:focus, .u-no-focus:focus, .vertical-slider__slides-container:focus, .vertical-slider:focus  {
outline: 0 !important;
}

.c-device-terms {
  span {
    font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 178.571% */
letter-spacing: 0.7px;
text-transform: uppercase;
color: var(--Gray-3, #7C878E);
text-align: center;
padding: 0px 5px;
border: 1px solid #D9D9D9;
  }
}

.u-no-underline, .u-no-underline a {
  text-decoration: none !important;
}

.u-linkedin {
  a {
    text-decoration: none !important;
    color: #fff !important;
    &:hover {
      color: #fff !important;
    }
  }
}


.wpgb-facet {
  li {
    &::before {
      display: none !important;
    }

  }
}

.wpgb-facet.wpgb-style-1 [role="button"].wpgb-button[aria-pressed="true"] {
  border: none !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
}