/* ==========================================================================
   P TAGS
   ========================================================================== */

p {
  line-height: $line-height-loose;
  letter-spacing: -0.18px;
  margin: 0 0 1rem 0;
  padding: 0;
}

.has-large-body-font-size {
  line-height: 1.78;
}

p + .c-btn {
  margin-top: 15px;
}

p.has-large-font-size {
  line-height: 1.54;
}